/* Remove icons from bookmarks tab */
.bookmark-item > .toolbarbutton-icon {
    display: none !important;
}

/* Remove "list all tabs" button */
#alltabs-button { display: none !important; }

#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]: {
    margin-inline-end: 0px !important;
}

/* Remove "Extension Tabliss" label from the search bar on a new tab */
#identity-box.extensionPage
    #identity-icon[tooltiptext="Loaded by extension: Tabliss"]
    ~ #identity-icon-label {
    display: none !important;
}

/* Dark background for the identity box */
#identity-icon-box {
    background: none !important;
}
